<!-- <mat-toolbar  class="example-toolbar">
	<button mat-icon-button (click)="isExpanded = !isExpanded"><mat-icon>menu</mat-icon></button>
	<h1 class="example-app-name">HR App</h1>
</mat-toolbar>
<mat-sidenav-container class="example-container" >
	<mat-sidenav #sidenav class="example-sidenav" mode="side" opened="true" (mouseenter)="mouseenter()" (mouseleave)="mouseleave()">
		<mat-nav-list>
			<mat-list-item *ngIf="isShowing || isExpanded"  [routerLink]="['Department/getall']" class="parent">
				<span class="full-width" >Department</span>
			</mat-list-item>
      <mat-list-item *ngIf="isShowing || isExpanded" class="parent" [routerLink]="['Employee/getall']">
				<span class="full-width"  >Employee</span>

			</mat-list-item>
		</mat-nav-list>

	</mat-sidenav>

	<div class="example-sidenav-content">
		<router-outlet></router-outlet>
	</div>

</mat-sidenav-container>
 -->



 <mat-drawer-container class="example-container" [hasBackdrop]="false" >

  <mat-drawer *ngIf="isShowing || isExpanded" [opened]="true" #drawer [mode]="'side'" >
    <mat-toolbar class="header" [color]="'primary'">
      <div >HrAppLogo</div>
  
    </mat-toolbar>
    <button [routerLink]="['Employee/getall']" class="w-100 c-btn" mat-button>
      Employee
    </button>
    <button [routerLink]="['Department/getall']" class="w-100 c-btn" mat-button>
      Departments
    </button>

  </mat-drawer>
  <mat-drawer-content>
 <mat-toolbar  class="example-toolbar" [color]="'primary'">
	<button mat-icon-button (click)="isExpanded = !isExpanded"><mat-icon>menu</mat-icon></button>
	<h1 class="example-app-name">HR App</h1>
</mat-toolbar>
    
    <router-outlet></router-outlet>
    <!-- <mat-toolbar [color]="'primary'" class="main footer">
     
    </mat-toolbar> -->
  </mat-drawer-content>

</mat-drawer-container>

